<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="http://twitter.com/pradeepch82" target="_blank">Pradeep Chinchole</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="hhttps://github.com/pradeepch82/Angular-JumpStart.git" target="_blank">https://github.com/pradeepch82/Angular-JumpStart</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Training:</div>
                <div class="col-md-10"><a href="mailto:pradeepch82@gmail.com" target="_blank">Interested in hands-on Angular Training? Contact us for details.</a></div>
            </div>
        </div>
    </div>
</div>
